
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/EDiscoveryTools/.vs/*
library/EDiscoveryTools/EDiscoveryTools/bin/*
library/EDiscoveryTools/EDiscoveryTools/obj/*

# ignore PowerShell Studio MetaData
EDiscoveryTools/EDiscoveryTools.psproj
EDiscoveryTools/EDiscoveryTools.psproj.bak
EDiscoveryTools/EDiscoveryTools.psprojs
EDiscoveryTools/EDiscoveryTools.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*